/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --ff-principal: 'Poppins', sans-serif;
    --bg-color-1: hsl(0, 0%, 100%);
}


/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-principal);
    color: black;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/
.bg-app{
    min-height: 100vh;
    background: rgb(35, 215, 255);
}

.container{
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    place-content: center;
}

.app{
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 3rem;
    min-width: 540px;
    max-width:540px ;
}
.app h1{
    font-size: 1.8rem;
}
.app form{
    margin-top: 1rem;
}
.app form .field{
    margin-bottom: 1rem;
}
.app form .input-field{
    position: relative;
    height: 55px;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid #bfbcbc;
    padding: 0 1rem;
}
.app form .input-field input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #fff;
    color: #333;
}

.field .error{
    font-size: .8rem;
    align-items: flex-start;
    margin-top: 6px;
    gap: .5rem;
    color: rgb(211, 69, 69);
    display: none;
}
.error .fa-exclamation-circle{
    margin-top: 5px;
}
.input-field.pass-create,
.input-field.confirm-pass{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-field i{
    opacity: 0.5;
    cursor: pointer;
}
.field.btn input{
    height: 55px;
    width: 100%;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(57, 192, 222);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.field.btn input:hover{
    background-color: rgb(35, 215, 255, 0.8);
}

.input-field.invalid ~.error{
    display: flex;
}
.app .input-field.invalid{
    border-color: red;
}
/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/